.form-background {
    background-image: url('/src/BG-1.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    opacity: 1;
    padding: 10px;

}


.font-mitr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mitr', sans-serif;
}


.menu li {
    display: inline;
    padding: 28px;
}

.remind {
    color:red;
}