.login-container {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgb(238, 231, 225) 0%,
      rgb(255, 250, 243) 59%,
      rgba(255, 255, 254, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    font-family: 'Mitr', sans-serif;
}


.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.loginoverall {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #e9e9e9;
    display: flex;
  }

.headerpos {
    margin-top: -50px;
    font-family: 'Mitr', sans-serif;
    font-size: 23px;
    padding-bottom: 8px;
}

.headerpos1 {
    font-family: 'Mitr', sans-serif;

}

.headerpossec {
    font-family: 'Mitr', sans-serif;
    font-size: 23px;
    
}

@media screen and (max-width: 600px) {
    .headerpos {
       font-size:20px;
       padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
    .headerpos1 {
       font-size: 13px;
       padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
    .headerpossec {
       font-size: 20px;
       padding-bottom: 10px;
  }
}
