.textfortips {
    font-family: 'Mitr', sans-serif;
    background-color:#FEFBF3;
}

.textfortips > h1 {
    padding-top: 50px;
    font-size: 55px;
    justify-content: center;
    text-align:justify;
    word-spacing: -5px; 
    font-family: 'Mitr', sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: #9D9D9D;
    padding-bottom: 20px;
    background-color: #F9CF93;
}

.textfortips > p {
    font-size: 25px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 10px;
    text-align:left;
    font-family: 'Mitr', sans-serif;
    border-width: 2px;
    border-radius: 55px;
    padding-top: 25px;
    padding-bottom : 25px;
    border-color: #6D9886;
}

.hrposition {
    width: 100% ;
    position: relative;
    
}

.listposition {
    margin-left: 40px;
    font-size: 20px;

}

@media screen and (max-width: 600px) {
    .textfortips > h1 {
        margin-top: 20px;
        padding-top: 30px;
        font-size: 25px;
        justify-content: center;
        word-spacing: -5px; 
        text-align:center;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0.364);
        padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
    .textfortips > p {
        font-size: 16px;
        padding-left: 27px;
        padding-right: 13px;
        margin-top: 10px;
        text-align:left;
  }
}

@media screen and (min-width: 600px) {
    .textfortips > h1 {
        padding-top: 25px;
        font-size: 45px;
        word-spacing: -5px; 
        text-align:center;
        border-width: 2px;
        border-color: #9D9D9D;
        padding-bottom: 20px;
  }
}

@media screen and (min-width: 600px) {
    .textfortips > p {
        font-size: 21px;
        padding-left: 50px;
        padding-right: 45px;
        margin-top: 10px;
        text-align:left;
  }
}

@media screen and (max-width: 600px) {
    .listposition {
        margin-left: 15px;
        padding-left: 5px;
        padding-right: 10px;
        font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
    .listposition { 
        font-size: 20px;
}
}

@media screen and (min-width: 992px) {
    .listposition { 
        font-size: 21px;
}
}

