.Tips {
    background-color:#FEFBF3;
}

.carousel-control-next-icon {
    color: black;
    background-color: black;
    text-decoration: black;
}

.carousel-control-prev-icon {
    color: black;
    background-color: black;
    text-decoration: black;
    
}